.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-contact {
    display: flex;
    flex-direction: row;
    align-content: stretch;
  }
  .form-info {
    display: flex;
    flex-direction: column;
    align-content: stretch;
  }
  .form-input {
    padding: 1em 1.5em;
    border: 1px solid #e5e5e5;
    border-radius: 1rem;
    margin-bottom: 1em;
    resize: none;
  }
  .form-text {
    padding: 1em 1.5em;
    border: 1px solid #e5e5e5;
    border-radius: 1rem;
    resize: none;
  }
  .form-button {
    padding: 1em 1.5em;
    border: 1px solid #e5e5e5;
    border-radius: 1rem;
    background-color: #e5e5e5;
  }
  .form-button:hover {
    background-color: #fd6a6a;
    cursor: pointer;
  }
