<div class="author">
  <a href href="/">
    <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
    height="175rem"
  />
</a>
  <h2 class="author-name"><a href="/">{{ site.author.name }}</a></h2>
  <span>
    <a href="https://github.com/shmor3"><img class="social-media-darkmode" src="../media/GitHub-Mark-64px.png" height="25rem" alt="github"/></a>
    <a href="https://www.linkedin.com/in/robertestanford/"><img class="social-media" src="../media/LI-In-Bug.png" height="23rem" alt="linkedin"/></a>
    <a href="mailto:contact@rstanford.com"><img class="social-media-darkmode" src="../media/586624.png" height="25rem" alt="email"/></a>
  </span>
  <p class="author-bio">{{ site.author.bio }}</p>
</div>
