<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <span>
    <a href="https://facebook.com/robertandstuff/"><img class="social-media" src="../media/f_logo_RGB-Blue_58.png" height="25rem" alt="facebook"/></a>
    <a href="https://www.linkedin.com/in/robertestanford/"><img class="social-media" src="../media/LI-In-Bug.png" height="25rem" alt="linkedin"/></a>
    <a href="https://github.com/shmor3"><img class="social-media-darkmode" src="../media/GitHub-Mark-32px.png" height="25rem" alt="github"/></a>
  </span>
  <p class="author-bio">{{ site.author.bio }}</p>
</div>
