<footer class="footer">
  {%- if page.url == '/blog/' -%}
  <a class="footer-link" href="/contact">Work with me</a>
  {%- endif -%} {%- if page.url == '/principles/' -%}
  <a class="footer-link" href="/contact">Work with me</a>
  {%- endif -%} {%- if page.url == '/process/' -%}
  <a class="footer-link" href="/contact">Work with me</a>
  {%- endif -%} {%- if page.url == '/projects/' -%}
  <a class="footer-link" href="/contact">Work with me</a>
  {%- endif -%} {%- if page.url == '/work/' -%}
  <span>
    <a style="margin-right: 1.8rem !important" href="https://github.com/shmor3"
      ><img
        class="social-media-darkmode"
        src="../media/GitHub-Mark-64px.png"
        height="25rem"
        alt="github"
    /></a>
    <a
      style="margin-right: 1.5rem !important"
      href="https://www.linkedin.com/in/robertestanford/"
      ><img
        class="social-media"
        src="../media/LI-In-Bug.png"
        height="23rem"
        alt="linkedin"
    /></a>
    <a
      style="margin-right: 1.5rem !important"
      href="mailto:contact@rstanford.com"
      ><img
        class="social-media-darkmode"
        src="../media/586624.png"
        height="25rem"
        alt="email"
    /></a>
  </span>
  {%- endif -%} {%- if page.url == '/' -%}
  <span>
    <a style="margin-right: 1.8rem !important" href="https://github.com/shmor3"
      ><img
        class="social-media-darkmode"
        src="../media/GitHub-Mark-64px.png"
        height="25rem"
        alt="github"
    /></a>
    <a
      style="margin-right: 1.5rem !important"
      href="https://www.linkedin.com/in/robertestanford/"
      ><img
        class="social-media"
        src="../media/LI-In-Bug.png"
        height="23rem"
        alt="linkedin"
    /></a>
    <a
      style="margin-right: 1.5rem !important"
      href="mailto:contact@rstanford.com"
      ><img
        class="social-media-darkmode"
        src="../media/586624.png"
        height="25rem"
        alt="email"
    /></a>
  </span>
  {%- endif -%} {%- if page.url == '/contact/' -%}
  <span>
    <a style="margin-right: 1.8rem !important" href="https://github.com/shmor3"
      ><img
        class="social-media-darkmode"
        src="../media/GitHub-Mark-64px.png"
        height="25rem"
        alt="github"
    /></a>
    <a
      style="margin-right: 1.5rem !important"
      href="https://www.linkedin.com/in/robertestanford/"
      ><img
        class="social-media"
        src="../media/LI-In-Bug.png"
        height="23rem"
        alt="linkedin"
    /></a>
    <a
      style="margin-right: 1.5rem !important"
      href="mailto:contact@rstanford.com"
      ><img
        class="social-media-darkmode"
        src="../media/586624.png"
        height="25rem"
        alt="email"
    /></a>
  </span>
  {%- endif -%} {%- if page.url == '/about/' -%}
  <span>
    <a style="margin-right: 1.8rem !important" href="https://github.com/shmor3"
      ><img
        class="social-media-darkmode"
        src="../media/GitHub-Mark-64px.png"
        height="25rem"
        alt="github"
    /></a>
    <a
      style="margin-right: 1.5rem !important"
      href="https://www.linkedin.com/in/robertestanford/"
      ><img
        class="social-media"
        src="../media/LI-In-Bug.png"
        height="23rem"
        alt="linkedin"
    /></a>
    <a
      style="margin-right: 1.5rem !important"
      href="mailto:contact@rstanford.com"
      ><img
        class="social-media-darkmode"
        src="../media/586624.png"
        height="25rem"
        alt="email"
    /></a>
  </span>
  {%- endif -%}
</footer>
<script src="/assets/js/main.js" defer="defer"></script>
{%- if page.google_analytics -%}
<script src="/assets/js/galite.js"></script>
<script>
  var galite = galite || {};
  galite.UA = "{{ site.google_analytics }}";
</script>
{%- endif -%} {%- if page.url == '/blog/' -%}
<script src="/assets/js/search.min.js"></script>
<script>
  var sjs = SimpleJekyllSearch({
    searchInput: document.getElementById("search-input"),
    resultsContainer: document.getElementById("search-results"),
    json: "/assets/search.json",
  });
</script>
{%- endif -%}
